{{- /* Custom Staticman Comments Implementation */ -}}
{{- if .Params.comments -}}
<div class="post-comments">
  <h2>Comments</h2>
  
  {{- /* Existing Comments */ -}}
  {{- $postSlug := .File.BaseFileName -}}
  {{- $commentDir := printf "data/comments/%s" $postSlug -}}
  
  <div class="comments-list">
    {{- if fileExists $commentDir -}}
      {{- $comments := readDir $commentDir -}}
      {{- range $comments -}}
        {{- $comment := getJSON (printf "%s/%s" $commentDir .Name) -}}
        <div class="comment">
          <div class="comment-meta">
            <span class="comment-author">{{ $comment.name }}</span>
            <span class="comment-date">{{ $comment.date | dateFormat "January 2, 2006" }}</span>
          </div>
          <div class="comment-content">
            <p>{{ $comment.message }}</p>
          </div>
        </div>
      {{- end -}}
    {{- else -}}
      <p>No comments yet. Be the first to comment!</p>
    {{- end -}}
  </div>

  {{- /* Comment Form */ -}}
  <form 
    method="POST" 
    action="https://staticman.net/v3/entry/github/dataprivacymemo/dataprivacymemo.github.io/main/comments" 
    class="comment-form"
  >
    <input 
      name="options[redirect]" 
      type="hidden" 
      value="{{ .Permalink }}"
    >
    <input 
      name="options[slug]" 
      type="hidden" 
      value="{{ $postSlug }}"
    >
    
    <div class="form-group">
      <label for="name">Name</label>
      <input 
        id="name"
        name="fields[name]" 
        type="text" 
        required 
        placeholder="Your name"
      >
    </div>
    
    <div class="form-group">
      <textarea 
        id="message"
        name="fields[message]" 
        required 
        placeholder="Your comment"
        rows="4"
      ></textarea>
    </div>
    
    <button type="submit" class="button">
      Send Comment
    </button>
  </form>
</div>
{{- end -}}